html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*********** NAVBAR ********/
nav {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.navbar-header {
  position: absolute;
  width: 100%;
  top: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.nav-title-icon {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.nav-icon {
  width: 3.5rem;
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  margin-left: auto;
  font-family: "Montserrat Alternates";
  font-size: 1.24rem;
  line-height: 1.75rem;
  font-weight: 300;
  color: #ffffff;
  text-transform: capitalize;
}

.nav-link li {
  list-style: none;
  font-family: "Open Sans";
}

.nav-link-item {
  position: relative;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  text-decoration: none;
}

/************** Line through effectccvx **************/
.nav-link-item::after {
  content: ""; /* Inserts an empty pseudo-element */
  position: absolute;
  width: 0; /* Width is 0, so it's invisible */
  height: 2px;
  background-color: #f1d382;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: width 1s ease;
  z-index: 1;
}

.nav-link-item:hover::after {
  width: 100%;
}

/***************************/

.home-page-main {
  height: 100vh;
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-page-restaurant-name {
  font-family: "Sacramento";
  color: #f1d382;
  font-size: 40pt;
  letter-spacing: 26%;
}

.home-page-slogan {
  font-family: "Montserrat";
  font-weight: lighter;
  font-size: 16pt;
  color: #ffffff;
  width: 40%;
  text-align: center;
  letter-spacing: 12%;
}

/************** BOOK A TABLE **************/
.home-page-bookATable {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
  letter-spacing: 10px;
  margin-top: 5%;
}

.home-page-book-btn-line {
  height: 1px;
  width: 8rem;
  background-color: #da9292;
}

.home-page-book-btn {
  color: #da9292;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s ease;
}

.home-page-book-btn:hover {
  color: #ffffff;
}
/***************************/

/*********** ABOUT PAGE ****************/
.about-section {
  padding-top: 30px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story-section {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text-section {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 50px;
}

.content-text {
  font-family: "Open sans";
  font-weight: normal;
  color: #ffffffa4;
  letter-spacing: 5%;
}

.heading-section {
  font-family: "Open Sans";
  font-weight: semibold;
  letter-spacing: 12%;
  font-size: 20pt;
  color: #937f61;
  margin-bottom: 50px;
  animation: fade-in 3s ease-in-out;
}

.story-section .content-text {
  height: 50%;
  text-align: center;
  animation: fade-in 3s ease-in-out;
}

.story-section:nth-child(1) {
  margin-bottom: 2%;
}

.image-container {
  height: 400px;
  width: 380px;
  position: relative;
}

.atmosphere-section .image-container {
  margin-top: -50px;
}

.content-image {
  width: 100%;
  height: 100%;
  position: absolute;
}

.image-container:first-of-type {
  animation: slide-in-left 2s ease-in-out;
}

.image-container:last-of-type {
  animation: slide-in-right 2s ease-in-out;
}

/***************************/

/*********** Animate functions ****************/
@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/***************************/

/* Screen 720px wide or smaller */
@media only screen and (max-width: 1200px) {
  .image-container {
    height: 300px;
    width: 400px;
    overflow: hidden;
    position: relative;
  }
}
